.breadcrumbs {
    padding-top: 32px;
    margin-bottom: 44px;
}
.breadcrumbs-wrapper {
    display: flex;
    align-items: center;
}
.breadcrumbs-wrapper a {
    color: #A4A4A4;
    text-decoration: none;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
}
.breadcrumbs-wrapper a:last-child {
    font-family: 'SourceSansPro';
    color: #000000;
    text-decoration: underline;
    margin-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
}
.breadcrumb-devider {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
}
.item-title {
    text-align: center;
    margin-bottom: 32px;
}
.item-title h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    color: #323232;
    text-transform: uppercase;
    margin-bottom: 0;
}
.item-image {
    width: 100%;
    height: 771px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;  
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 40px;
}
.slick-initialized .item-image {
    display: flex;
}
.item-image svg {
    cursor: pointer;
    height: fit-content;
}
.item-text {
    padding-left: 40px;
}
.item-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    color: #323232;
    margin-bottom: 32px;
}
.item-text-info p{
    font-family: 'SourceSansPro';
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.63px;
    margin-bottom: 6px;
}
.item-text-info b {
    font-family: 'SourceSansPro';
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.63px;
    margin-bottom: 6px;
}
.item-text-info {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.item-text-code p {
    font-family: 'SourceSansPro';
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.63px;
    margin-bottom: 0px;
}
.item-text-code {
    margin-bottom: 32px;
}
.item-size-links {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.item-size-links p {
    font-family: 'SourceSansPro';
    font-size: 20px;
    font-weight: 700;
    line-height: 25.14px;
    margin-bottom: 0;
    margin-right: 14px;
    color: #000000;
}
.item-size-links span {
    font-family: 'SourceSansPro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    text-decoration: underline;
    color: #000000;
    margin-right: 12px;
    cursor: pointer;
}
.item-size-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}
.item-size-button {
    font-family: 'SourceSansPro';
    font-size: 28px;
    font-weight: 600;
    line-height: 26px;
    color: #323232;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.item-size-button.active {
    border-bottom: 1px solid #000;
}
.item-text-color {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.item-text-color p {
    color: #000000;
    font-family: 'SourceSansPro';
    font-size: 20px;
    font-weight: 700;
    line-height: 25.14px;
    margin-bottom: 0;
    margin-right: 21px;
}
.item-text-color-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.item-colo-box {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background: #000;
    margin-right: 12px;
}
.item-colo-box span {
    font-family: 'SourceSansPro';
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: #323232;
}
.item-text-price {
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    margin-bottom: 32px;
}
.item-button-1 {
    width: 100%;
    max-width: 422px;
    height: 54px;
    background: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 16px;
    cursor: pointer;
    border: 1px solid #151515;
    outline: 0;
    transition: .3s;
}
.item-button-1:hover {
    background: #FFFFFF;
    color: #151515;
}
.item-button-2 {
    width: 100%;
    max-width: 422px;
    height: 54px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #151515;
    margin-bottom: 0px;
    cursor: pointer;
    border: 1px solid #151515;
    outline: 0;
    transition: .3s;
}
.item-button-2:hover {
    background: #151515;
    color: #FFFFFF;
}
.item {
    margin-bottom: 64px;
}

.suggestion-item {
    margin-bottom: 32px;
}
.suggestion-item-img {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 16px;
    margin-bottom: 27px;
    height: 570px;
    cursor: pointer;
}
.suggestion-item-img svg {
    cursor: pointer;
    height: fit-content;
}
.suggestion-item-title a{
    font-family: 'SourceSansPro';
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 35.2px;
    color: #323232;
    text-decoration: none;
}
.suggestion-title h2{
    font-family: 'SourceSansPro';
    font-size: 50px;
    font-weight: 400;
    line-height: 62.85px;
    color: #000;  
    margin-bottom: 32px;  
}
.suggestion-wrapper {
    margin-bottom: 32px;
}
.suggestion-item-price-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}
.suggestion-item-price {
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    text-decoration: line-through;
    color: #323232;
}
.suggestion-item-price.active {
    text-decoration: none;
    font-family: 'SourceSansPro';
    color: #323232;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.14px;
}
.suggestion-item-sale {
    font-size: 28px;
    font-weight: 400;
    line-height: 34.13px;
    color: #323232;
}
.suggestion-more-button {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.suggestion-more-button p {
    margin-bottom: 0;
    font-family: 'SourceSansPro';
    font-size: 22px;
    font-weight: 400;
    line-height: 27.65px;
    color: #323232;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: .3s;
}
.suggestion-more-button p:hover {
    border-bottom: 2px solid #323232;
}
.suggestion-wrapper:last-child {
    border-bottom: 2px solid #A4A4A4;
    padding-bottom: 16px;
}
.suggestion {
    margin-bottom: 44px;
}
.discover {
    margin-bottom: 117px;
}
.discover-title h2{
    font-family: 'SourceSansPro';
    font-size: 50px;
    font-weight: 400;
    line-height: 62.85px;
    color: #000;    
    margin-bottom: 32px;
}
.discover-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}
.discover-items a {
    font-family: 'SourceSansPro';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #151515;
    transition: .3s;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
.discover-items a:hover {
    border-bottom: 2px solid #151515;
}




.item-slider .slick-dots {
    bottom: -16px;
}
.item-mob-content {
    margin-bottom: 20px;
}
.item-mob-content h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #323232;
    text-align: center;
    margin-bottom: 8px;
}
.item-mob-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
}
.item-mob-price p {
    margin-bottom: 0;
    font-family: 'SourceSansPro';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    color: #A4A4A4;
}

.custom-select-wrapper {
    position: relative;
    width: 50%;
    height: 51px;
  }
  
  .hidden-select {
    display: none;
  }
  
  .custom-select {
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .custom-select-trigger {
    background: #fff;
    border: 1px solid #323232;
    border-radius: 0px;
    padding: 10px;
    text-align: left;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .custom-select-trigger p{
    font-family: 'SourceSansPro';
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    margin-bottom: 0;
    color: #323232;
  }
  .custom-select-trigger span {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: #323232;
  }
  .custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #323232;
    border-radius: 0px;
    margin-top: 5px;
    display: none;
    z-index: 10;
  }
  
  .custom-option {
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-option:hover {
    background: #f0f0f0;
  }
  
  .custom-select.open .custom-options {
    display: flex;
    flex-direction: column;
  }
.item-mob-selects {
    display: flex;
    align-items: center;
}
.custom-select-trigger svg {
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin-top: 4px;
}
.item-mob-buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 16px;
}
.item-mob-button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px; 
    background: #151515;
    color: #fff;
    border: 1px solid #151515;
    transition: .3s;
    outline: 0;
}
.item-mob-button-1:hover {
    color: #151515;
    background: #fff;
}
.item-mob-button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #151515;
    background: #fff;
    border: 1px solid #151515;
    transition: .3s;
    outline: 0;
}
.item-mob-button-2:hover {
    background: #151515;
    color: #fff;
}
.items-mob-button-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 100%;
    font-family: 'SourceSansPro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    color: #323232;
    background: #fff;
    border: 0;
    outline: 0;
}
.item-mob-content {
    display: none;
}

.item-content.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    pointer-events: none;
    height: 0;
}
.item-title.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    pointer-events: none;
    height: 0;
}
.item-added-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-added-title h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    color: #000000;
    margin-bottom: 0;
}
.item-added-title svg {
    cursor: pointer;
}
.item-added-title {
    margin-bottom: 32px;
}
.item-content-added-wrapper {
    display: flex;
    gap: 32px;
}
.item-added-img {
    width: 250px;
    height: 377px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.item-added-text h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    color: #323232;
    margin-bottom: 12px;
}
.item-added-text p {
    font-family: 'SourceSansPro';
    font-size: 24px;
    font-weight: 400;
    line-height: 30.17px;
    margin-bottom: 32px;
}
.item-added-item {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}
.item-added-item p {
    font-family: 'Montserrat';
    width: 100px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    color: #323232;
}
.item-added-item span {
    font-family: 'SourceSansPro';
    font-size: 24px;
    font-weight: 400;
    line-height: 30.17px;
}
.item-added-price {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #000;
}
.item-added-btn {
    width: 100%;
    background: #151515;
    border: 2px solid #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: 'SourceSansPro';
    font-size: 22px;
    font-weight: 400;
    line-height: 27.65px;
    color: #fff;
    cursor: pointer;
}
.item-content-added-wrapper {
    margin-bottom: 32px;
}
.item-added-btn-2 {
    border: 0;
    outline: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'SourceSansPro';
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-decoration: underline;
    background: #fff;
    cursor: pointer;
}
.item-content-added{
    margin-bottom: 64px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    pointer-events: none;
    height: 0;
}
.item-content-added.visible {
    height: fit-content;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}


@media (min-width: 1920px) {

}
@media (max-width: 1920px) {
}
@media (max-width: 1600px){

    .suggestion-item-img {
        height: 420px;
    }
    .item-image {
        height: 600px;
    }
}
@media (max-width: 1440px){


    .suggestion-item-title a {
        font-size: 22px;
        line-height: 22px;
    }
}
@media (max-width: 1200px){
    .suggestion-item-price {
        font-size: 22px;
        line-height: 22px;
    }
    .suggestion-item-sale {
        font-size: 22px;
        line-height: 22px;
    }
}
@media (max-width: 992px){
    .item-mob-content {
        display: block;
    }
    .suggestion-item-img {
        height: 300px;
    }
    .item-image {
        margin-bottom: 8px;
    }
    .item-slider .slick-dots {
        bottom: -8px;
    }
    .items-desc-title {
        display: none;
    }
    .item-title {
        display: none;
    }
    .item-content .col-12:first-child {
        padding: 0;
    }
    .breadcrumbs {
        display: none;
    }
    .item-text-size {
        display: none;
    }
    .item-text-color {
        display: none;
    }
    .item-text-price {
        display: none;
    }
    .item-buttons {
        display: none;
    }
    .item {
        margin-bottom: 0;
    }
    .item-text {
        padding-left: 0;
    }
    .suggestion-title h2 { 
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
    }
    .discover-title h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
    }
    .suggestion-item-title a {
        font-size: 12px;
        font-weight: 700;
        line-height: 14.63px;
    }
    .suggestion-item-price.active {
        font-size: 12px;
        font-weight: 700;
        line-height: 14.63px;
    }
    .suggestion-item-price{
        font-size: 12px;
        line-height: 14px;
    }
    .suggestion-item-sale {
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 768px){
    .suggestion-item-img {
        height: 280px;
        padding: 0;
        margin-bottom: 10px;
    }
    .top-nav {
        margin-bottom: 0;
    }
    .item-added-params {
        display: none;
    }
    .item-content-added-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .item-added-title h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
    }
    .item-added-img {
        width: 164px;
        height: 246px;
    }
    .item-added-btn {
        height: 44px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.11px;
        margin-bottom: 32px;
    }
    .item-added-btn-2 {
        display: flex;
    }
    .item-added-title svg{
        width: 24px;
        height: 24px;
    }
    .item-added-text h2 {
        font-size: 16px;
        line-height: 16px;
    }
    .item-added-text p {
        font-size: 16px;
        line-height: 16px;
    }
}